.user_types{
	margin-top: 20px;
	position: center;
	float: center;
	text-align: center;
}

.nurse_login{
	width: 200px;
	height: auto;
	background-color: #33CC33;
	border-color: #FFFFFF;
	float: center;
	border-radius: 15px;
	box-shadow: 0px 0px 5px 5px #B5F0E1;
	cursor: hand;
}

.admin_login{
	width: 200px;
	height: auto;
	margin-left: 70px;
	float: center;
	border-radius: 15px;
	background-color: #33CC33;
	box-shadow: 0px 0px 5px 5px #B5F0E1;
	cursor: hand;
}

.admin_login:hover{
	background-color: #85E085;
	cursor: hand;
}

.nurse_login:hover{
	background-color: #85E085;
	cursor: hand;
}

.login_bg{
	background-color: lightgray;
}

.logo{
	position: center;
	float: center;
	text-align: center;
	width: 200px;
	height: auto;
	margin-bottom: 50px;
}

.inliner{
	display: absolute;
}

.logininput{
	width: 250px;
	height: 30px;
	/*border-radius: 10px;*/
	margin-bottom: 20px;
	border-width: 0px;
}

.loginbutton{
	width: 100px;
	height: 30px;
	background-color: #FFFFFF;
	color: #000000;
	/*border-radius: 10px;*/
	border-color: #000000;
	margin-bottom: 20px;
	border-width: 0px;
}

.loginform{
	width: 300px;
	height: auto;
	border-width: 0px;
	border-radius: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}