#login-form {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 0.9;
}

#login-btn {
  margin-top: 20px;
}

h5 {
  font-family: Century Gothic;
}

.brand-logo {
  margin-left: 20px;
  font-family: Century Gothic;
}

#main-container {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
