<div id="add-nurse-container">
    <center>
        <label id="action-label">Register New Nurse</label><br>
     </center>
    <div class="add-cover" style="display:inline-block; float:right; margin-right:30px; margin-top:20px;">
        <label id="add-label">Name: </label><br>
        <input class="add-input" id="nurse_name" type="text" name="fullname" placeholder="Nurse Name">
    </div>
    <div class="add-cover">
        <label id="add-label">Username: </label><br>
        <input class="add-input" id="nurse_username" type="text" name="username" placeholder="Username">
    </div><br>
    <div class="add-cover">
        <label id="add-label">Password: </label><br>
        <input class="add-input" id="nurse_password" style="margin-left:15px;" type="text" name="password" placeholder="Password">
    </div><br>
    <div class="add-cover">
        <label id="add-label">Nurse status: </label><br>
        <select class="add-input" id="nurse_status">
            <option value="1">full time nurse</option>
            <option value="2">student intern</option>
        </select>
    </div>
    <button id="add-button" style="margin-top:-60px;" onclick="addNurse()">Register Nurse</button>
</div>