<div id="add-task-container">
    <center>
        <label id="action-label">Assign Task</label><br>
     </center>
    
    <center>
        <div class="add-cover"> 
            <label id="add-label">Task Summary: </label><br>
            <input class="add-input" id="summary"  style="width:750px; margin-right:50px; font-size:14px;" type="text" name="summary" placeholder="Summary">
        </div>
    </center>
    
    <center>
        <div class="add-cover">
            <label id="add-label">Task Description: </label><br>
            <textarea id="description" style="height:100px; width:750px; margin-right:50px;" placeholder="Description"></textarea>
        </div>
    </center>
    
    <div style="width:100%; display:inline;">
        <center>
            <div class="add-cover" style="width:45%; display:inline-block; float:left">
                <label id="add-label">Start Date: </label><br>
                <input class="add-input" id="start" style="" type="date" name="start_date">
            </div>
        </center>

       <center>
            <div class="add-cover" style="width:45%; display:inline-block; margin-left:-50px;">
                <label id="add-label">End Date: </label><br>
                <input class="add-input" id="end" style="" type="date" name="end_date">
            </div>
        </center>
    </div>
    
    
        <div class="add-cover" style="width:40%; margin-left:60px;">
            <center><label id="add-label">Assign To: </label><br></center>
            <select id="nurses">
            </select>
        </div>

    <button id="add-button" onclick="addTask()" style="margin-top:-33px; margin-right:60px; width:320px;">Add Task</button>
</div>