<!-- author@ Ali PF Njie -->
<div id="view-task">
    <center>
        <br><label class="view-label">Task Summary:</label>
        <div id="task-summary" style="color: #000000;">
        </div>
        
        <br><label class="view-label">Task Description:</label>
        <div id="task-description">
        </div>
        
        
        <div id="task-cover">
            <br><label class="view-label">Task Status:  </label><br>
            <div id="task-status"></div>
        </div>
        
        <div id="task-cover">
            <label class="view-label">Assigned To:  </label><br>
            <div id="nurse-assigned"></div>
        </div>
        
        <div id="task-dates">
            <div id="task-cover">
                <label class="view-label">Date Assigned:  </label><br>
                <div id="date-assigned"></div>
            </div>
            
            <div id="task-cover">
                <label class="view-label">Due Date:  </label><br>
                <div id="due-date"></div>
            </div>
        </div>
    </center>
</div>