<!--author@ Ali PF Njie -->
<!--secondary author@ Salifu Mutaru -->
<div id="login-container">
    <center>
        <br><br><label id="welcome-container-icon"><img id="login-label-icon" src="img/doctor.png"></label>
        <br><br><label id="welcome-container-label" style="color:white;">Enter Login Details</label><br>
        <div id="login-form">
            <input class="login-input" type="text" id="username" name="username" placeholder="Username">
            <input class="login-input" type="password" id="password" name="password" placeholder="Password">
            <button id="login-button" onclick="login('admin')">Login</button>
        </div>
        <br><br><label id="switch" onclick="load_login_nurse()">Switch to Nurse</label>
    </center>
</div>