<center>
    <div id="register-container">
        <br><label id="register-header">Enter Account Details</label><br>
        <input class="register-input" type="text" placeholder="Hospital Name" id="hospital"><br>
        <input class="register-input" type="text" placeholder="Hospital Location" id="location"><br>
        <input class="register-input" type="text" placeholder="Hospital Phone" id="phone"><br>
        <input class="register-input" type="text" placeholder="Admin Firstname" id="firstname"><br>
        <input class="register-input" type="text" placeholder="Admin Lastname" id="lastname"><br>
        <input class="register-input" type="text" placeholder="Admin Username" id="username"><br>
        <input class="register-input" type="password" placeholder="Admin Password" id="password1"><br>
        <input class="register-input" type="password" placeholder="Confirm Password" id="password2"><br>
        <button id="register-button" style="background-color:darkgreen; border: 1px darkgreen;" onclick="return register();"> REGISTER</button><br>
        <a href="index.html"><button id="register-button" style="background-color:brown; border: 1px brown;"> CANCEL</button></a>
    </div>
</center>