<div id="view-nurse-container">
    <div id="nurse-views-container">
        <button id="nurse-views-button">All</button>
        <button id="nurse-views-button">Intern Nurses</button>
        <button id="nurse-views-button">Full-time Nurses</button>
    </div>
    <table id="view-nurse-table">
        <tr id="view-nurse-header">
            <td>Name</td>
            <td>Type</td>
            <td>Action</td>
        </tr>

        <tr id="view-nurse-item">
            <td>Name</td>
            <td>Type</td>
            <td><img  id="nurse-delete" src="img/delete.png"></td>
        </tr>

        <tr id="view-nurse-item" style="background-color:burlywood;">
            <td>Ali</td>
            <td>Intern</td>
            <td><img  id="nurse-delete" src="img/delete.png"></td>
        </tr>
    </table>
</div>